@page "/Airports"
@inject AirportService _airportService;
@inject NavigationManager _navigationManager; 
<h3>AirportList</h3>
@code {
    private List<Airport> Airports { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Airports = await _airportService.GetAirports();


    }
    private void OpenAddAirportPage()
    {
        _navigationManager.NavigateTo("/addAirport");
    }

}
@if (Airports == null)
{
    <div>Loading...</div>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var airport in Airports)
            {
                <tr>
                    <td>@airport.Id</td>
                    <td>@airport.Name</td>
                    <td>@airport.Address</td>
                    <td>
                        <a href="/editAirport/@airport.Id" class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </a>

                    </td>

                </tr>
            }
        </tbody>
    </table>

    <button type="button" @onclick="OpenAddAirportPage">
        <span class="oi oi-plus"></span>
        Add Airport
    </button>

}



